.megamenu {
  position: static;
  height: 70px; /* Ajuste a altura conforme necessário */
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}


body {
  background: black;
  min-height: 100vh;
}

img {
  height: 60px;
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centralizar horizontalmente */
  position: absolute;
  right: 49%;
  top: 10%; /* Ajuste a posição conforme necessário */
  border-radius: 50%;
}

@media (max-width: 768px) {

  .megamenu {
    position: static;
    height: auto; /* Ajuste a altura conforme necessário */
  }
  /* CSS para telas menores que 768px (dispositivos móveis) */
  .logo {
    right: 45%; /* Manter a centralização horizontal */
    top: -5%; /* Ajuste a posição conforme necessário */
  }

  .megamenu .dropdown-menu .container {
    padding: 0; /* Remover o padding interno para economizar espaço */
  }

  .megamenu .dropdown-menu .col {
    width: 100%; /* Ocupar toda a largura */
    padding: 0 5px; /* Adicionar espaçamento interno */
  }

  .megamenu .dropdown-menu .banner {
    display: none; /* Ocultar o banner em dispositivos móveis para economizar espaço */
  }
}

@media (min-width: 768px) {
  /* CSS para telas maiores ou iguais a 768px (tablets e desktops) */
  .megamenu .dropdown-menu .container {
    padding: 10px; /* Adicionar padding interno para melhor legibilidade */
  }

  .megamenu .dropdown-menu .col {
    width: auto; /* Restaurar a largura automática para as colunas */
  }

  .megamenu .dropdown-menu .banner {
    display: block; /* Exibir o banner em tablets e desktops */
  }
}

footer {
  background-color: whitesmoke;
  color: gray;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}


#dynamicImage {
  margin-top: 0.15%;
  width: 100%;
  height: 650px;
}
